@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Favorite Music</h1>
    <p> as a persion I like persion music and I think for everyone the songs and musicss of their own culture is the best.</p>
    <p>you can have lest of my favorit musics here; <a href="https://youtu.be/IrLrLio4gQM">Omid; Baran Mibara Emshab</a>.</p>

    <p><button onclick="myMove()">Click Me</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>

</div>
